.dialog-icon {
   padding: 0px 7px;
   color: white;
   background-color: #5757d9;
   line-height: 1.2;
}

@media (min-width: 800px) {
   .dialog {
      position: absolute;
      top: 0px;
      left: 316px;
      font-weight: normal;
      word-wrap: normal;
      width: 100%;
      min-width: 408px;
   }
}
