.flex-container {
   display: flex;
   flex-direction: row;
}

.left-rail {
   background-color: lightgray;
   flex: 0 0 59px;
}

.left-gutter {
   background-color: gray;
   flex: 2 2 auto;
}

.avatar-rail {
   flex: 0 0 173px;
}

.form-rail {
   flex: 0 0 307px;
}

.dialogue-rail {
   flex: 0 0 470px;
}

.right-gutter {
   background-color: gray;
   flex: 6 6 auto;
}

